

.box {
	display: none;
	max-width: 360px;
	margin: 0 auto;
	font-weight: 600;
	margin-top: 1em;
	padding: 1.6em;
	background-color: #fafafa;
	border: 1px solid #d8d8d8;
	box-shadow: 0 4px 12px rgba(0, 0, 0, .25);
	-o-box-shadow: 0 4px 12px rgba(0, 0, 0, .25);
	-moz-box-shadow: 0 4px 12px rgba(0, 0, 0, .25);
	-webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, .25);
	overflow: hidden;
	text-align:center;
}

.box .label {
	margin: .4em;
	white-space: normal;
	word-break: break-word;
}

.box-languages .box-languages-set {
	font-size: 0;
}

.box-languages .label:nth-child(4n) {
	margin-right: 0;
}

.box-languages .label:nth-child(4n + 1) {
	margin-left: 0;
}
